# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
.venv/
venv/

# Django
*.log
*.pot
*.pyc
*~
db.sqlite3
media/
staticfiles/

# Migrations except __init__.py
**/migrations/**
!**/migrations/__init__.py

# IDE
.idea/
.vscode/

# Env
.env
